

.geninfo tr:nth-child(2n) {
   background-color: #dadada;
}
.geninfo table {
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 10px;
     border: ;
     
}
.geninfo table td {
    padding-right: 2em;
    padding-bottom: 0.5em;
    
}

body {
    font-family: sans-serif;
    background-color:#f4f4f4;
}
header {
    background-color:#5979CC;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer {
 background-color:#5979CC;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.navigator {
    background-color: #A3B5E5;
    width: 10%;
    display:flex;
    float:left;
    margin: 0 0 0 0;
    height: 100%;
    font-size: 25px
}

table {
    border-collapse: collapse;
    ;
}
.tablesint {
    display: flex;
    justify-content: center;
}
h3 {
    text-align: center;
}
.tablesint p {
text-align: left;
margin-left: 20px;
margin-right: 100px;
background-color: #dee9fa;
height: 100%;
width: 35%;
}

a {
    color: black;
    text-decoration:none;
}

.navigator td {
    padding-top: 10%;
    padding-bottom: 10%;
    border-bottom: 5px solid #5979CC;
    background-color: #A3B5E5;
}
 .navigator td:hover{
    background-color: #f4f4f4;
     border-bottom: 5px solid #77A5FF;
     padding-bottom: 30%;
}
.geninfo {
    margin-left: 11%;
    margin-right: 2%;
    text-align: justify;
    padding-top: 5px;
}
h1 {

    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #5979CC;
    text-decoration: underline;
}
.img1 {
    display: flex;
    background-color: #ebebeb;
}
span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.footer {
   margin-right: 50%;
    display: flex;
}
.imglinks {
    display: flex;
gap: 80px;
margin-left: 11%;
    margin-right: 2%;
    text-align: justify;
    padding-top: 20px;
    justify-content:center ;
    flex-wrap: wrap;
}

